<div class="contain-to-grid sticky">	
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Mucaparadise</a></h1>
			</li>
		</ul>
	</nav>
</div>